JWT_KEY = "67@#65ygfghyfhYOUDFGH54-d45fhgg9854656"
MONGODB_URL=mongodb+srv://quickreport:DyAiKikLEG5VFxfI@cluster0.h9mao4r.mongodb.net/
APP_MODE=DEV
CORS_ORIGIN=https://localhost:3000
JWT_KEY="COsSDJ6DJUI&SJKHK/FTEG|EIOUIJ||SJJ,DFIRJ45$3H#5(7%+UTH)6^wr~!"
DEBUG_MODE=true
CLOUD_NAME="dtzpsj9ob"
CLOUD_API_KEY="354156859462652"
CLOUD_API_SECRET="9y7QvKBlnWsmZ-dlzcs9Rutkqg0"
MAX_FILE_SIZE=2097152   #size in BYTES 