<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceland&family=Teko:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6e5493fd32.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6e5493fd32.js" crossorigin="anonymous"></script>

    <title>Mail Varification</title>
</head>
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .fas {
        color: #f88605;
    }

    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #f88605;
        margin: -4px 0 0 -4px;
    }

    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }

    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }

    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }

    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }

    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }

    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }

    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }

    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }

    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }

    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }

    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }

    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }

    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }

    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }

    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }

    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }

    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    body {
        /* background-image:  url(https://cdn.pixabay.com/photo/2020/05/01/16/42/palacio-nacional-de-mafra-5118010_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover; */
        background-color: #0B0E11
    }

    /* main color #f7a600 */
    /* background color #0C0E12 */
    /* second background   #1E2329 */
    .mainmenu {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        height: 80px;
        width: 100%;
        background-color: #201f1f;
        margin: 0;
        padding: 0;
    }

    a:link {
        color: white;
        text-decoration: none;
    }

    a:valid {
        color: white;
        text-decoration: none;
    }

    a:visited {
        color: white;
        text-decoration: none;
    }

    span {
        font-size: xx-large;
        padding: 25px;
        color: #f7a600;
        margin: auto;

    }

    a:hover {
        color: #f7a600;
        text-decoration: none;
    }

    .home {
        margin-left: 15%;
    }

    ::placeholder {
        color: rgb(96, 94, 94);
    }



    .message {
        width: auto;
        height: 50px;
        text-align: center;
        justify-content: center;
        margin: -4px;
        border-radius: 10px;
        color: rgb(8, 213, 240);
        font-family: 'Roboto Mono', monospace;
    }

    hr {
        margin-left: -5px;
    }

    p {
        width: auto;
        height: 50px;
        text-align: center;
        justify-content: center;
        margin: -4px;

        border-radius: 10px;
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-size: medium;
    }

    .formcenter {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    form {
        color: white;
        border-radius: 20px;
        width: 360px;
        height: auto;
        margin-top: 170px;
        padding: 5px 10px;
        justify-content: center;
        font-size: large;
        font-weight: bolder;
        background-color: #17181e;
        box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
            inset 4px 4px 10px rgba(0, 0, 0, 0.5),
            inset -4px -4px 10px rgba(67, 67, 67, 0.5),
            4px 4px 10px rgba(0, 0, 0, 0.3);
        text-decoration: wavy;
        font-family: 'Crete Round', serif;
        font-weight: 400px;
        display: flexbox;
        place-items: center;
        justify-content: center;
        position: relative;

    }

    .fa-user {
        color: #f88605;
    }

    .username {
        color: #61605d;
    }

    .fa-lock {
        color: rgb(129, 124, 124);
    }

    h1 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: -2px;
        color: #f88605;
        font-weight: 100;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .input {
        background-color: rgba(16, 16, 16, 0.041);
        box-shadow: -4px -4px 5px rgba(67, 67, 67, 0.5),
            inset 4px 4px 5px rgba(0, 0, 0, 0.5),
            inset -4px -4px 5px rgba(67, 67, 67, 0.5),
            4px 4px 5px rgba(0, 0, 0, 0.3);
        font-family: 'Crete Round', serif;
        font-weight: 100;
        color: #f5f4f4;
        position: absolute;
        left: 5%;
        border: none;
        height: 40px;
        width: 85%;
        padding: 5px;
        margin-top: 3%;
        text-align: center;
        transition: all;
        transition-duration: 10s;
        font-size: large;
        outline: none;
        vertical-align: middle;
        position: relative;
        margin-bottom: 3px;
        border-radius: 5px;
        word-wrap: 1000px;



    }

    hr {
        margin-left: -5px;
        margin-bottom: 0px;
    }

    input[type=checkbox] {
        color: #0B0E11;
    }

    span {
        color: #f7a600;
    }

    /* button { */
    /* margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
        height: 50px;
        width: 90%;
        margin-bottom: 25px;
        margin-left: 5%;
        font-family: 'Crete Round', serif;
        display: inline;
        font-size: x-large;
        border: none; */
    /* box-shadow: 2px 2px 3px 2px rgb(102, 102, 100); */
    /* word-spacing: 20px;
        background-color: #f88605;
        color: rgb(7, 7, 7);
        font-weight: bolder;
        font-weight: 900; */


    /* } */

    button:hover {
        background-color: #f88605;
        border-radius: 10px;
        cursor: pointer;

        font-weight: bolder;


    }

    #hideshow {
        margin-top: 13px;
        width: 100px;

        margin-left: -25px;
        background-color: #17181e;
        color: #0B0E11;
        font-family: monospace;
    }

    button:hover {
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: #f7a600;
    }

    a {
        color: #f88605;
    }

    #uname {
        padding: 0px;
        margin: 0px;
    }

    #pass {
        text-align: center;
    }

    b {
        margin-top: 10px;
        color: wheat;
        display: inline;
    }

    b:hover {
        cursor: pointer;
    }

    .showhide {
        display: flex;
        margin: 2px;
    }

    /* footer start */



    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .fcontainer {
        max-width: 1170px;
        margin: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        list-style: none;
    }

    .footer {
        font-family: 'Source Serif 4', sans-serif;
        position: absolute;
        height: 330px;
        border-radius: 40px 40px 0px 0px;
        background-color: #24262b;
        padding: 30px 0;
        margin-top: 30%;
        width: 100%;
    }

    .footer-col {
        width: 25%;
        padding: 0 15px;
    }

    .footer-col h4 {
        font-size: 18px;
        color: #f5f4f4;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

    .fas,
    .far {
        font-size: xx-large;
    }

    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

    .footer-col ul li a:hover {
        color: #f71111;
        padding-left: 8px;

    }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(52, 194, 47, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

    .footer-col .social-links a:hover {
        color: #24262b;
        background-color: #eff304;
    }

    /*responsive*/
    /* @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    } */



    /* footer end */
    .fa-newspaper {
        color: #f88605;
    }

    body {
        background-color: rgb(4, 4, 4);
        justify-content: center;
        display: flex;

    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
        height: 50px;
        width: 80%;
    }

    input {
        background-color: rgb(18, 19, 18);
        width: 90%;
        font-size: large;
        border-radius: 5px;
        height: 50px;
        margin-top: 25px;
        margin-bottom: 15px;
        text-align: center;
        border: 2px solid rgb(245, 161, 5);
        color: #f88605;
        font-size: larger;
    }



    h1 {
        color: #f88605;
    }

    b {
        color: peru;
    }

    button {
        height: 50px;
        width: 90%;
        margin-bottom: 25px;
        margin-left: 20px;
        margin-top: 30px;
        background-color: orange;
        margin-top: 10px;
        box-shadow: 6px 6px 3px 0px rgba(17, 16, 16, 0.322);
        border: none;
        border-radius: 5px;
        font-size: larger;
        font-weight: bolder;

    }

    button:hover {
        cursor: pointer;
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    .container {
        width: 400px;
        height: 320px;
        color: white;
        border-radius: 20px;
        width: 360px;
        height: auto;
        margin-top: 170px;
        padding: 5px 10px;
        justify-content: center;
        font-size: large;
        font-weight: bolder;
        background-color: #17181e;
        box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
            inset 4px 4px 10px rgba(0, 0, 0, 0.5),
            inset -4px -4px 10px rgba(67, 67, 67, 0.5),
            4px 4px 10px rgba(0, 0, 0, 0.3);
        text-decoration: wavy;
        font-family: 'Crete Round', serif;
        font-weight: 400px;
        display: flexbox;
        place-items: center;
        justify-content: center;
        position: relative;


    }

    .outer-container {
        display: flex;
    }

    .swal-modal {
        background-color: rgba(245, 248, 246, 0.69);
        border: 3px solid white;
        width: 300px;
        height: auto;
        text-align: center;
        margin-top: -600px;
        padding: 0;
    }

    .swal-title {
        color: rgb(2, 2, 2);
        font-size: large;
        margin: 0%;
        padding: 0;
    }
</style>

<body>
    <div class="mainmenu"><br>
        <br>
        <logo>
            <m style="color: orangered;  font-weight: bold; font-size: x-large; ">Q</m>
            <m style="color:wheat ;">U</m>
            <m style="color:white ;">I</m>
            <m style="color: greenyellow;">C</m>
            <m style="color:orangered;">K</m>
            <m style="color:rgb(248, 247, 246) ;">Report</m>
        </logo>
        <span class="home"><a href="/"><i title="Quick Report Home" class="fas fa-home"></i></a></span>
        <!-- <span><a href="/dash-bord"><i title="PortFolio" class="fas fa-chart-line"></i></a></span> -->
        <span><a href="/dash-bord"><i title="DashBord" class="fas fa-chart-pie"></i></a></span>
        <span><a href="/News"><i class="fas fa-newspaper"></i></a></span>
        <span><a href="/register"><i title="User" class="fa fa-user"></i></a></span>
        <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
        <coingecko-coin-price-marquee-widget coin-ids="bitcoin,eos,ethereum,litecoin,ripple,biconomy,dog" currency="inr"
            background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>
    </div>
    <div class="outer-container">
        <div class="container">
            <h1>Enter OTP</h1>
            <hr>
            <span id="message">
                <p>We've sent 6 Digit varification code<br> to your email - <b>
                        <%-userEmail -%>
                    </b></p>
            </span>

            <input id="otpbox" name="userotp" type="text" placeholder="Enter Varification Code" maxlength="6"
                minlength="6" required />
            <br>Not recived , <a style="color: green;" href=""> Resend Email </a> <span id="time" class="time"></span>
            <br> <button onclick="valid()">Verifie</button>

        </div>
    </div>

    <script>
        swal({
            title: 'OTP Sent',
            button: false
        })
        function valid() {
            var inputdata = document.getElementById("otpbox").value;
            if (inputdata == '<%-otp-%>') {

                window.location = "/v"
            }
            else {
                alert("Invalid OTP")
            }
        }
    </script>

</body>

</html>