<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">4
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/xMYYFwC/flogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>funding =></title>
</head>
<style>
    .Fcontainer {
        display: flex;
        border-radius: 10px;
        width: 58%;
    }

    .funding {
        width: 100%;
        background-color: #7a7676;
    }

    .FundingHeading {
        font-size: large;
        background-color: black;
        color: #f88605;
        font-family: sans-serif, monospace;
        font-weight: bold;

    }


    .AddFunding {
        background-color: #080808;
        color: rgb(253, 251, 251);
        font-size: x-large;
        font-weight: bolder;
        padding: 0px;
        width: 60px;
        height: 28px;
        border-radius: 3px;
        margin: 0px;
        border: 2px solid rgb(11, 241, 34);
        margin-left: -60px;
        text-align: center;
    }

    .AddFunding:hover {
        cursor: pointer;
        background-color: #f88605;
        border: 2px solid rgb(251, 248, 248);
    }

    .Famount {
        font-size: medium;
        margin: 0px;
        text-align: center;
        color: rgb(252, 254, 254);
        padding: 3px;
    }

    .colunm {
        margin: 0px;
        border-collapse: collapse;
    }

    .fundingDetails {
        color: rgb(252, 250, 250);
        background-color: #181818;
        margin: 0px;
        padding: 0px;

    }

    .discription {
        font-size: small;
        margin: 0;
        padding-left: 5px;
        color: darkgoldenrod;
        text-transform: capitalize;
    }

    .date {
        margin: 0;
        margin-left: 75%;
        font-size: x-small;
        padding: 0px;

    }
</style>

<body>
    <div class="Fcontainer">

        <table class="funding">

            <tr class="Frow">
                <th class="FundingHeading">Funding history</th>

            </tr>
            <tr class="Frow">
                <td class="colunm">
                    <div class="fundingDetails">
                        <p class="Famount">+5000</p>
                    </div>
                </td>
            </tr>
            <tr class="Frow">
                <td class="colunm">
                    <div class="fundingDetails">
                        <p class="Famount">+5000</p>
                    </div>
                </td>
            </tr>
            <tr class="Frow">
                <td class="colunm">
                    <div class="fundingDetails">
                        <p class="Famount">+5000</p>
                    </div>
                </td>
            </tr>
            <tr class="Frow">
                <td class="colunm">
                    <div class="fundingDetails">
                        <p class="Famount">+5000</p>
                        <p class="discription">from Bank of India </p>
                        <p class="date">12-09-2021</p>
                    </div>
                </td>
            </tr>

        </table>
        <Button class="AddFunding">+</Button>
    </div>
</body>

</html>