<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/x-icon" href="https://i.ibb.co/xMYYFwC/flogo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <title>LogOut Successfully</title>
</head>
<style>
  .swal-overlay {
    background-color: rgba(165, 147, 43, 0.45);
  }
</style>

<body>
  <script>
    swal("Logout Seccessfully", "  Login To Acess Features!", "", {
      buttons: {
        cancel: "Home ",
        catch: {
          text: "Login",
          value: "redirect",
        },

      },
    })
      .then((value) => {
        switch (value) {



          case "redirect":
            window.location = "/login"
            break;

          default:
            swal.close()
            window.location = "/"
        }

      });
  </script>
</body>

</html>