<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="icon" type="image/x-icon" href="https://i.ibb.co/xMYYFwC/flogo.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  <title>Invalid User</title>
</head>
<style>
  body {

    font-family: 'Roboto Mono', monospace;
  }

  .swal-overlay {
    background-color: rgb(244, 233, 233);
  }
</style>

<body>

  <script>
    swal("Invalid Username OR Password", " TRY AGAIN !", "warning", {
      buttons: {
        cancel: "Register",
        catch: {
          text: "Try Again",
          value: "redirect",
        },

      },
    })
      .then((value) => {
        switch (value) {



          case "redirect":
            window.location = "/login"
            break;

          default:
            swal.close()
            window.location = "/user"
        }

      });
  </script>
</body>

</html>