<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> QuickReport | SignUp</title>
    <link rel="stylesheet" href="Footer.css">
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/xMYYFwC/flogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto+Mono:wght@700&family=Teko:wght@300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/6e5493fd32.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<style>
    /* loading ---start */
    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #f88605;
        margin: -4px 0 0 -4px;
    }

    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }

    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }

    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }

    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }

    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }

    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }

    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }

    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }

    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }

    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }

    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }

    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }

    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }

    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }

    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }

    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }

    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /* loading ---end */
    a:link {
        color: white;
        text-decoration: none;
    }

    a:valid {
        color: white;
        text-decoration: none;
    }

    a:visited {
        color: white;
        text-decoration: none;
    }

    .fas {
        font-size: xx-large;
    }

    a:hover {
        color: orange;
        text-decoration: none;
    }

    .mainmenu {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        height: 80px;
        width: 100%;

        background-color: #201f1f;
        margin: 0;
        padding: 0;

    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */


    span {
        font-size: xx-large;
        padding: 25px;
    }

    .home {
        margin-left: 15%;
    }

    body {
        display: block;
        /* justify-content: center; */
        background-color: #0C0E12;
        /* background: url(https://media.istockphoto.com/photos/geometric-shapes-structure-on-empty-concrete-floor-with-white-wall-picture-id996693064?k=20&m=996693064&s=612x612&w=0&h=pjOzlyV-Xc0LJ_LcSmdnDkFezFaQQWL_RslP-rvZRSU=) ;  */
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }


    .hrt {
        margin-top: -30px;
        color: #0C0E12;

    }

    h1 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: -2px;
        color: #f88605;
        font-weight: 100;
        font-family: Georgia, 'Times New Roman', Times, serif;
        /* background-color: salmon; */
    }


    .formcenter {
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    form {
        color: white;
        border-radius: 5px;
        width: 380px;
        height: auto;
        margin-top: 170px;
        padding: 5px 10px;
        justify-content: center;
        font-size: large;
        font-weight: bolder;
        background-color: #17181e;
        box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
            inset 4px 4px 10px rgba(0, 0, 0, 0.5),
            inset -4px -4px 10px rgba(67, 67, 67, 0.5),
            4px 4px 10px rgba(0, 0, 0, 0.3);
        text-decoration: wavy;
        font-family: 'Crete Round', serif;
        font-weight: 400px;
        display: flexbox;
        place-items: center;
        justify-content: center;
        position: relative;

    }

    ::placeholder {
        color: rgb(125, 123, 121);
        word-wrap: break-word;
        font-weight: 200;
    }

    .inpt {
        background-color: rgba(3, 0, 0, 0.041);
        box-shadow: -4px -4px 2px rgba(67, 67, 67, 0.5),
            inset 4px 4px 2px rgba(0, 0, 0, 0.5),
            inset -4px -4px 2px rgba(67, 67, 67, 0.5),
            4px 4px 0px rgba(0, 0, 0, 0.3);
        font-family: 'Crete Round', serif;
        font-weight: 100;
        color: #f5f4f4;
        position: absolute;
        left: 5%;
        /* border: 3px solid black; */
        height: 32px;
        width: 90%;
        padding: 5px;
        margin-top: 3%;
        text-align: center;
        transition: all;
        transition-duration: 10s;
        font-size: large;
        outline: none;
        vertical-align: middle;
        position: relative;
        border-radius: 5px;



    }

    i {
        color: #f88605;
    }

    div {
        padding: auto;
        margin: 0%;
    }



    #reset {
        color: rgb(10, 1, 1);
        padding: 1%;
        margin-left: auto;
        height: 50px;
        width: 100px;
        border-radius: 50px;
        background-color: rgb(29, 28, 28);
        box-shadow: 2px 2px 3px 2px rgb(206, 206, 204);
        font-family: 'Crete Round', serif;
        display: inline;
        font-size: large;

        transition: all;
        transition-duration: .3s;
        position: relative;
        left: 160px;
    }

    #submit {
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
        height: 50px;
        width: 90%;
        margin-left: 5%;
        font-family: 'Crete Round', serif;
        display: inline;
        font-size: x-large;
        border: none;
        box-shadow: 2px 2px 3px 2px rgb(6, 6, 6);
        word-spacing: 20px;
        background-color: #f88605;
        color: rgb(7, 7, 7);
        font-weight: bolder;
        transition: all;

        margin-bottom: 15px;
    }

    #submit:hover {
        background-color: rgb(34, 245, 6);
        border-radius: 10px;
        font-weight: bolder;
        font-size: x-large;
        cursor: pointer;

    }

    #reset:hover {
        cursor: pointer;
        background-color: red;
        color: white;
        font-size: large;
        border: 3px solid white;
    }

    .message {

        width: auto;
        height: 50px;
        text-align: center;
        justify-content: center;
        margin: -4px;
        border-radius: 10px;
        color: rgb(8, 213, 240);
        font-family: 'Roboto Mono', monospace;

    }

    hr {
        margin-left: -5px;
    }

    p {
        margin: -10px;

        padding: 15px;
    }

    a {

        color: #f7a600;
    }
</style>

<body>
    <div class="mainmenu"><br>
        <br>
        <logo>
            <m style="color: orangered;  font-weight: bold; font-size: x-large; ">Q</m>
            <m style="color:wheat ;">U</m>
            <m style="color:white ;">I</m>
            <m style="color: greenyellow;">C</m>
            <m style="color:orangered;">K</m>
            <m style="color:rgb(248, 247, 246) ;">Report</m>
        </logo>
        <span class="home"><a href="/"><i title="Quick Report Home" class="fas fa-home"></i></a></span>
        <!-- <span><a href="/dash-bord"><i title="PortFolio" class="fas fa-chart-line"></i></a></span> -->
        <span><a href="/dash-bord"><i title="DashBord" class="fas fa-chart-pie"></i></a></span>
        <span><a href="/News"><i class="fas fa-newspaper"></i></a></span>
        <span><a href="/register"><i title="User" class="fa fa-user"></i></a></span>
        <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
        <coingecko-coin-price-marquee-widget coin-ids="bitcoin,eos,ethereum,litecoin,ripple,biconomy,dog" currency="inr"
            background-color="white" locale="en"></coingecko-coin-price-marquee-widget>
    </div>

    <div class="formcenter">
        <form onsubmit="event.preventDefault();apiCall(event)" autocomplete="off">
            <h1>Sign Up</h1>
            <!-- <hr class="hrt"> -->
            <input class="inpt" id="userName" autocomplete="false" type="text" placeholder="Username" name="userName"
                onkeydown="validUser()" onkeyup="validUser()" required><br>
            <input class="inpt" id="fullName" type="text" autocomplete="false" onkeypress=" onlyNumberKey(event)"
                placeholder=" Full Name" name="Name" required><br>

            <!-- <input class="inpt" type="text" autocomplete="false" placeholder="Last Name" name="lastName" -->
            <!-- onkeypress="  onlyNumberKey(event)" required> <br> -->
            <input class="inpt" id="email" type="Email" autocomplete="false" placeholder="Email Id" name="emailId"
                required><br>
            <!-- comment -->
            <!-- <input  class="inpt" type="number"  autocomplete="false" placeholder="Mobile Number" name="mobileNumber" required><br>comment -->
            <!-- <b class="merr"></b> -->

            <input class="inpt" id="password" autocomplete="false" type="password" placeholder="Password"
                name="password"><br>
            <input id="confirm" name="confirmPass" type="password" class="inpt" placeholder="Confirm Password"
                required><br>
            <b id="err" style="color: rgb(248, 10, 10); text-align: left;"></b>

            <!-- Course : C:<input type"selectbox" name="course" >C++:<input type"selectbox"name="course"  >JAVA:<input type"checkbox" name="course"  > PHP: <input  name="course" type"checkbox" ><br> -->
            <div class="showhide"><a
                    style=" color: rgb(240, 237, 237); font-family: monospace; font-size: large;  margin-top: px;">show
                    passwods
                </a><input type="checkbox" id="hideshow" onclick="show()"></div>

            <!-- <div class="gender">  Gender  <input type="radio" placeholder=" GENDER" name="gender" value="m" style="padding:0; margin: 0;" required>M
        <input type="radio" name="gender" value="f" >F<br></div> -->
            <button id="submit" type="submit" onclick="apiCall(event)">continue</button>

            <!-- <button id="reset"  type="reset"> Reset</button> -->

            <div class="message">
                <p style="color: #9b9696;">Have An Account ? <a style="color: #F2BC00;" href="/login">LOGIN</a></p>
            </div>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const loading = '<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>'

        function show() {
            var hide = document.getElementById("password")
            var con = document.getElementById("confirm")
            if (hide.type === "password" && con.type == "password") {
                hide.type = "text";
                con.type = "text";
            } else {
                hide.type = "password";
                con.type = "password";
            }

        }
        function onlyNumberKey(evt) {

            evt = (evt) ? evt : event;
            var charCode = (evt.charCode) ? evt.charCode : ((evt.keyCode) ? evt.keyCode :
                ((evt.which) ? evt.which : 0));
            if (charCode > 31 && (charCode < 65 || charCode > 90) &&
                (charCode < 97 || charCode > 122)) {
                //alert("Enter letters only. numers not allowed");
                return false;
            }
            return true;
        }

        function notification(title, message, alertType) {
            const type = {
                error: "red",
                success: "green",
                warning: "orange"
            }
            Swal.fire({
                title: title,
                text: message,
                icon: alertType
            });

        }
        async function apiCall(event) {

            console.log("done processing");
            event.preventDefault();
            // console.log(event)
            const userName = document.getElementById("userName").value;
            console.log(userName);
            const name = document.getElementById("fullName").value;
            console.log(name);
            const email = document.getElementById("email").value
            console.log(email);
            const password = document.getElementById("password").value;
            console.log(password);
            const confirmPassword = document.getElementById("confirm").value;
            console.log(confirmPassword);
            if (!userName || !password || !confirmPassword || !name || !email) {
                notification("all files are required !", "please fill them !", "warning");
                return;
            }
            if (password != confirmPassword) {
                notification(" ⚠️ password doens't match", "password and confirm password are not equal !", "warning")
                return;
            }

            try {
                const submit = document.getElementById("submit");
                submit.innerHTML = loading
                const apiResult = await fetch("/register", {
                    method: "POST",
                    headers: {
                        "content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        userName: userName,
                        fullName: name,
                        emailId: email,
                        password: password,
                        confirmPassword: confirmPassword
                    })

                }).then(res => res.json())
                    .then((data) => {
                        console.log("data=>", data)
                        // console.log("0=>", data[0])
                        const { type, message, title } = data
                        notification(title, message, type)

                        setTimeout(() => {
                            if (type === "success") {
                                window.location("/login")
                            }
                        }, 1500)
                    }).finally(() => {
                        submit.innerHTML = "Continue"
                    })
                console.log(apiResult[0]);

            } catch (error) {
                console.log("ERROR =>>", error);
            }



        }

        // function err() {
        // var pass = document.getElementById("password").value;
        // var conf = document.getElementById("confirm").value;
        // if (pass != conf) {
        // alert("Password Does Not Match")
        // }
        // }




    </script>

</html>